body {
  background-image: url(./pics/leather.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: inherit;
  width: 100%;
  margin: 0px;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  padding-bottom: 2em;
}

h1 {
  background-color: #9D0E12;
  margin-top: 0;
  font-family: 'Bangers', 'cursive';
  font-size: 60px;
  border-radius: 13px;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 3px #52524F;
}

.App-container {
  display: flex;
  flex-direction: column;
}

.App-image {
  border: solid 2px #580000;
  height: 350px;
  width: 300px;
  background-image:url(./pics/crazy.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-bottom: 20px;
}

button {
  font-family: 'Reenie Beanie', cursive;
  font-size: 25px;
  align-self: center;
  color: #8D8997;
  background-color: #252525;
  border-color: black;
}

nav {
  display: flex;
}

.Album-aside {
  display: flex;
  font-size: 20px;
}

.Album-aside li {
  left: 0px;
  list-style: none;
  padding-bottom: 3em;
  padding-right: 3em;
}

.Album-aside ul {
  padding-left: 0px;
}

.Album-aside button {
  border-radius: 8px;
}

.Album-container {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.Album-image {
  border: 2px solid #580000;
  border-radius: 8px;
  background-image: url(./pics/makeup.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.Album-image2 {
  border: 2px solid #580000;
  border-radius: 8px;
  background-image: url(./pics/brains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.Album-image3 {
  border: 2px solid #580000;
  border-radius: 8px;
  background-image: url(./pics/crazy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.BIGBOX, .Box, .Best-box, .Fun-box {
  display: flex;
  justify-content: space-between;
}

.Puddin-container, .Best-container, .Fun-container{
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.Puddin-image2 {
  border: 2px solid #580000;
  border-radius: 8px;
  background-image: url(./pics/Joker.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.Puddin-image {
  border: 2px solid #580000;
  border-radius: 8px;
  background-image: url(./pics/puddin.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.Puddin-image3 {
  border: 2px solid #580000;
  border-radius: 8px;
  background-image: url(./pics/silly.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.Puddin-image4 {
  border: 2px solid #580000;
  border-radius: 8px;
  background-image: url(./pics/perfect.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.Puddin-image5 {
  border: 2px solid #580000;
  border-radius: 8px;
  background-image: url(./pics/cuties.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.Puddin-image5, p {
  font-family: 'Homemade Apple', cursive;
  color: #580000;
  font-weight: bold;
  font-size: large;
  text-shadow:
    1px 0px 1px white, 0px 1px 1px #eee,
    2px 1px 1px white, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee;
}

.Puddin-signature {
  text-align: right;
}

.Best-image2 {
  border: 2px solid #580000;
  border-radius: 8px;
  background-image: url(./pics/mugshots.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
}

.Best-image {
  border: 2px solid #580000;
  border-radius: 8px;
  background-image: url(./pics/sirens.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.Best-image3 {
  border: 2px solid #580000;
  border-radius: 8px;
  background-image: url(./pics/besties.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.Best-image4 {
  border: 2px solid #580000;
  border-radius: 8px;
  background-image: url(./pics/canary.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.Best-image5 {
  border: 2px solid #580000;
  border-radius: 8px;
  background-image: url(./pics/catwoman.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.Best-image6 {
  border: 2px solid #580000;
  border-radius: 8px;
  background-image: url(./pics/catwoman2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.Fun-image2 {
  border: 2px solid #580000;
  border-radius: 8px;
  background-image: url(./pics/dance.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
}

.Fun-image {
  border: 2px solid #580000;
  border-radius: 8px;
  background-image: url(./pics/dreams.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.Fun-image3 {
  border: 2px solid #580000;
  border-radius: 8px;
  background-image: url(./pics/nomakeup.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
}
